# App Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Cache Configuration (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# Message Broker Configuration (RabbitMQ)
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://localhost:5672

# Security Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=
