# Database Configuration (PostgreSQL)
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=ticketbox

# Cache Configuration (Redis)
REDIS_PORT=6379

# Message Broker Configuration (RabbitMQ)
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# MoMo Sandbox Configuration
# Lấy từ: https://developers.momo.vn/#/docs/en/aiov2/?id=payment-method
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_REDIRECT_URL=http://localhost:3001/payment/callback/momo
MOMO_IPN_URL=http://localhost:3000/api/v1/payments/momo/webhook

# VNPAY Sandbox Configuration
# Lấy từ: https://sandbox.vnpayment.vn/apis/
VNPAY_TMN_CODE=VNPAY_SANDBOX_CODE
VNPAY_HASH_SECRET=VNPAY_SANDBOX_SECRET
VNPAY_RETURN_URL=http://localhost:3001/payment/callback/vnpay
VNPAY_IPN_URL=http://localhost:3000/api/v1/payments/vnpay/webhook