# App Configuration
PORT=3000
NODE_ENV=development
INSTANCE_ROLE=all

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=ticketbox

# Cache Configuration (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# Message Broker Configuration (RabbitMQ)
RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
RABBITMQ_URL=amqp://localhost:5673

# Security Configuration
JWT_SECRET=
JWT_REFRESH_SECRET=

# Resend configuration
RESEND_API_KEY=
MAIL_FROM=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini API
GEMINI_API_KEY=

# Supabase storage
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET_NAME=

# Throttler Config (overridden for load testing)
THROTTLER_LIMIT=100000
THROTTLER_TTL=60000